<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serviceUrl" value="net.tcp://localhost:8733/SixModeDetectorService/SixModeService"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISixModeService" maxReceivedMessageSize="2000000">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/SixModeDetectorService/SixModeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISixModeService"
                contract="ServiceDisplayMode.ISixModeService" name="NetTcpBinding_ISixModeService" />
        </client>
    </system.serviceModel>
</configuration>